#contact {
  background-color: $primary;
  color: $white;

  h2 {
    @extend .fancy-underline;
    color: $white;

    &::after {
      background-color: $white;
    }
  }

  a {
    color: $white;
  }

  .cta {
    a {
      transition: color .2s ease-in;
      &:hover {
        text-decoration: none;
        color: $secondary;
      }
    }
  }

  h3 {
    color: $white;
  }
}

.contact-form-wrapper {
  max-width: 100%;
  width: 800px;

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  select,
  textarea {
    border: 2px solid $white;
    padding: 1rem;
    background: transparent;
    color: $white;
    border-radius: 10px;
    height: auto;
    border-width: 2px;

    &::placeholder {
      color: #ccc;
    }
  }

  .form-control:focus {
    background: transparent;
    color: $white;
    border-color: $white;
    border-width: 3px;
  }

  input[type=submit],
  button[type=submit] {
    // background: transparent;
    @extend .btn-fancy;
    border-radius: 5px;
  }

  label {
    display: none;
  }
}